* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 1024px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    text-align: center;
}
header h1 {
    width: 1024px;
    background-color: lightblue;
    color: black;
    font-weight: 400;
    letter-spacing: 0.2em;
    word-spacing: 0.3em;
    padding: 2px;

}
header img {
    width: 10%;
    border: 10px;
    position: static;
    box-shadow: 10px 25px 10px rgb(0, 157, 255);
    text-align: center;
    border: 2px solid gray;
}
nav {
    max-width: 90%;
    margin: 0 auto;
    
}
main {
    max-width: 80%;
    margin: 0 auto;
}
aside {
    max-width: 90%;
    margin: 0 auto;
    
}
section {
    margin: 0;
    display: inline-block;
    border: 5px solid gray;
    box-shadow: 10px 25px 10px rgb(0, 157, 255);
}

#ListaNav a {
    text-decoration: none;
    color: rgb(100, 237, 219);
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 5px;
}
#ListaNav a:hover {
    color: rgb(0, 81, 255);
}

#descarga a {
    text-decoration: none;
    color: rgb(100, 237, 219);
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 5px;
}
#descarga a:hover {
    color: rgb(0, 81, 255);
}

#NavPrinc a {
    text-decoration: none;
    color: rgb(100, 237, 219);
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 5px;
}
#NavPrinc a:hover {
    color: rgb(0, 81, 255);
}

#infPrincipal a {
    text-decoration: none;
    color: rgb(100, 237, 219);
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 5px;
}
#infPrincipal a:hover {
    color: rgb(0, 81, 255);
}

#pagPrinc a {
    text-decoration: none;
    color: rgb(100, 237, 219);
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 5px;
}
#pagPrinc a:hover {
    color: rgb(0, 81, 255);
}

#principal a {
    text-decoration: none;
    color: rgb(100, 237, 219);
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 5px;
}
#principal a:hover {
    color: rgb(0, 81, 255);
}

footer img{
    width: 20px;
    height: auto;
    margin-left: auto;
	margin-right: auto;
}